@tailwind base;
@tailwind components;
@tailwind utilities;
 

body {
  background-image: url('./assets/icons/staff.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  

.open-menu{
    margin-top: 20px;
    padding: 12px 10px;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-weight: bold; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    height: 45px;
    width: 195px;
    background-color: rgba(255, 125, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.nav-button {
    padding: 12px 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 2px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title {
    padding: 15px 30px 15px 0;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

@keyframes pulsatingGlow {
    0% {
        box-shadow: 0 0 0 rgba(2, 148, 148, 0.7);
      }
      50% {
        box-shadow: 0 0 20px 10px white;
      }
      100% {
        box-shadow: 0 0 0 rgba(2, 148, 148, 0.7);
      }
  }
  
  .correct-animation {
    animation: pulsatingGlow 1s ease-in-out;
  }
